{% extends "base.html" %}
{% load static %}

{% block title %}Henna Store Landing Page{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-4 offset-lg-8 my-auto text-center hero-container">
                <h1 class="logo-font my-3">
                    <strong>Henna </strong>Store
                </h1>
                <p class="decorative"><em>Find Your Perfect Design.</em></p>
                <hr class="hr-bar-small">
                <div class="my-3">
                    <a href="{% url 'products' %}" class="btn shop-now-button btn-lg rounded-5 py-1 decorative" aria-label="Shop Now">Shop Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA Banner -->
    <section class="cta-banner">
        <div class="container text-center py-2">
            <h2 class="cta-heading decorative" aria-label="Sign Up Today and Get 10% Off Your First Order">Get 10% Off Your First Order or Booking!</h2>
            <p class="text-dark fw-bold">Sign up today and enjoy an exclusive 10% discount on your first purchase or booking. Don't miss out on this special offer!</p>
            <a href="#" class="btn cta-button btn-lg rounded-5 mt-2" aria-label="Sign Up Now">Sign Up Now</a>
        </div>
    </section>

    <!-- Featured Products Section -->
    <section class="section-background">
        <div class="container my-5">
            <h2 class="text-center logo-font text-black">Featured Products</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-2">
                {% for product in products %}
                    <div class="col">
                        <div class="card h-100 product-card border-0 shadow-sm">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% elif product.image_url %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid product-img" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid product-img" src="{% static 'noimage.png' %}" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body product-info pb-0">
                                <h5 class="product-title mb-2">{{ product.name }}</h5>
                                <p class="text-muted">{{ product.description|truncatewords:10 }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-start">
                                <p class="lead mb-0 fw-bold">£{{ product.price }}</p>
                                {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag me-1"></i>{{ product.category.get_friendly_name }}
                                        </a>
                                    </p>
                                {% endif %}
                                {% if product.rating %}
                                    <small class="text-muted">
                                        <i class="fas fa-star"></i> {{ product.rating }} / 5
                                    </small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


   <!-- Services Section -->
   <section class="booking-services-section service-container py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h2 class="display-4 fw-bold mb-4">Discover Our Exclusive Booking Services</h2>
                    <p class="lead mb-4">Experience top-notch services with our exclusive booking options. Our Henna artists are dedicated to providing you with the best service tailored to your needs.</p>
                    <a href="#" class="btn btn-primary btn-lg rounded-pill" aria-label="Book Now">Book Now</a>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="image-wrapper position-relative">
                        <img src="/media/artist-making-mehndi-womans-palms.jpg" class="img-fluid rounded shadow" alt="Booking Service Introduction">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
