{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 ">
            <div class="col-4 offset-md-7 my-auto text-center hero-container">
                <h1 class="logo-font text-black my-3"><strong>Henna </strong>Store
                    </h1>
                    <p class="text-black"><em>Your Perfect Design.</em></p>
                    <hr class="hr-bar-small">
                <div class="my-3">
                    <h4>
                       <a href="" class="shop-now-button btn btn-lg rounded-0 py-1 decorative"> ✨ Shop Now ✨ </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}