<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products and Services Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Products &amp; Designs
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="#" class="dropdown-item">By Price</a></li>
                <li><a href="#" class="dropdown-item">By Rating</a></li>
                <li><a href="#" class="dropdown-item">By Category</a></li>
                <li><a href="#" class="dropdown-item">All Products</a></li>
            </ul>
        </li>

        <!-- Henna Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-expanded="false">
                Henna
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="henna-link">
                <li><a href="#" class="dropdown-item">Cones</a></li>
                <li><a href="#" class="dropdown-item">Designs</a></li>
                <li><a href="#" class="dropdown-item">Tattoos</a></li>
                <li><a href="#" class="dropdown-item">All Henna Products</a></li>
            </ul>
        </li>

        <!-- Booking Service Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-expanded="false">
                Book Now
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="service-link">
                <li><a href="#" class="dropdown-item">Bridal</a></li>
                <li><a href="#" class="dropdown-item">Party</a></li>
                <li><a href="#" class="dropdown-item">Casual</a></li>
                <li><a href="#" class="dropdown-item">All Booking Services</a></li>
            </ul>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark" href="#" id="specials-link" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="#" class="dropdown-item">New Designs</a></li>
                <li><a href="#" class="dropdown-item">Deals</a></li>
                <li><a href="#" class="dropdown-item">Clearance</a></li>
                <li><a href="#" class="dropdown-item">All Specials</a></li>
            </ul>
        </li>
    </ul>
</div>