<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products and Services Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Henna Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </ul>
        </li>

        <!-- Henna Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-expanded="false">
                Henna
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="henna-link">
                <li><a href="{% url 'products' %}?category=henna_cones_tubes" class="dropdown-item">Cones</a></li>
                <li><a href="{% url 'products' %}?category=henna_designs_stencils" class="dropdown-item">Designs &amp; Stencils </a></li>
                <li><a href="{% url 'products' %}?category=henna_kits" class="dropdown-item">Henna Kits</a></li>
                <li><a href="{% url 'products' %}?category=henna_cones_tubes,henna_designs_stencils,henna_kits" class="dropdown-item">All Henna Products</a></li>
            </ul>
        </li>

        <!-- Booking Service Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-expanded="false">
                Book Now
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="service-link">
                <li><a href="#" class="dropdown-item">Bridal</a></li>
                <li><a href="#" class="dropdown-item">Party</a></li>
                <li><a href="#" class="dropdown-item">Casual</a></li>
                <li><a href="#" class="dropdown-item">All Booking Services</a></li>
            </ul>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark" href="#" id="specials-link" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="#" class="dropdown-item">New Designs</a></li>
                <li><a href="#" class="dropdown-item">Deals</a></li>
                <li><a href="#" class="dropdown-item">Clearance</a></li>
                <li><a href="#" class="dropdown-item">All Specials</a></li>
            </ul>
        </li>
    </ul>
</div>